/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap'); */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 239 61% 99%;
    --foreground: 239 74% 3%;
    --muted: 209 34% 95%;
    --muted-foreground: 209 14% 31%;
    --popover: 239 61% 98%;
    --popover-foreground: 239 74% 2%;
    --card: 239 61% 98%;
    --card-foreground: 239 74% 2%;
    --border: 239 14% 90%;
    --input: 239 14% 90%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 84% 67%;
    --secondary-foreground: 209 84% 7%;
    --accent: 269 84% 67%;
    --accent-foreground: 0 0% 0%;
    --destructive: 7 83% 37%;
    --destructive-foreground: 7 83% 97%;
    --ring: 239 84% 67%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
  .dark {
    --background: 239 60% 2%;
    --foreground: 239 34% 98%;
    --muted: 359 8% 10%;
    --muted-foreground: 359 9% 64%;
    --popover: 239 60% 2%;
    --popover-foreground: 239 34% 98%;
    --card: 239 60% 2%;
    --card-foreground: 239 34% 98%;
    --border: 239 6% 15%;
    --input: 239 6% 15%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 359 84% 67%;
    --secondary-foreground: 359 84% 7%;
    --accent: 119 84% 67%;
    --accent-foreground: 119 84% 7%;
    --destructive: 3 84% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 239 84% 67%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
